.techListItem {
    background-color: var(--grey-4);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;

    @media (max-width: 632px) {
        padding: 15px 10px;
    }
    @media (max-width: 550px) {
        flex-direction: column;
        align-items: unset;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .headline {
            font-size: 14px;

            @media (max-width: 350px) {
                font-size: 10px;
            }
        }
    }
}
.cardTitle {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    @media (max-width: 550px) {
        font-size: 14px;
    }
}
#buttonsDiv {
    display: flex;
    gap: 10px;

    @media (max-width: 350px) {
        scale: 0.85;
    }
}
.buttonsStyle:hover {
    animation: buttonHover 0.6s infinite;
}

@keyframes buttonHover {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}